.sidebar {
    flex: 1 0 auto;
    width: 300px;
    background-color: rgb(89, 185, 230);
    padding: 5px 15px;
}

.sidebar ul {
    color: #fff;
    list-style: none;
}

.item {
    margin: 10px 0;
}

.item:last-child {
    margin-top: 30px;
}

.item a.active {
    color: #1924a7;
}