.page-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.page-content {
    position: relative;
    width: calc(100% - 300px);
    padding-left: 15px;
}

/* FORM */

.form {
    font-size: 18px;
}

.form input, .form textarea {
    display: block;
    margin: 5px 0;
    padding: 6px 10px;
    border: 1px solid #888888;
}

.form input:focus,
.form input:active {
    outline: transparent;
}

.form label {

}

.form .error {
    color: rgb(180, 23, 23);
    font-weight: 700;
}

.form .item {
    margin-bottom: 20px;
}

.form .itemCheckbox label {
    display: flex;
    align-items: center;
}

.form .itemCheckbox input {
    margin-left: 10px;
}

/* FORM */
